@page "/"

<div class="container-fluid p-0" style="height: 100%;">
    <div class="row no-gutters" style="height: 100%;">
        <div class="col" style="background-color: black;">
            <textarea bind="@NoteContent" style="height: 100vh; width: 100%;"/>
        </div>
        <div class="col" style="background-color: red; height: 100vh;">
            @NoteContent
        </div>
    </div>
</div>

@functions
{

    public string NoteContent { get; set; }

}
